<div class="container">
  <h1 class="title">Drone Tracker</h1>
  <p class="info">Recruitment task by Piotr Kaczmarek.</p>
  <p class="desc">Map containing generated data for 5 drones</p>
  <app-planes-map [planes]="planes"></app-planes-map>
  <router-outlet></router-outlet>
</div>

<div style="display: flex; justify-content: space-between; gap: 20px">
  <p class="desc">KPH Table containing generated data for 5 drones</p>
  <p class="desc">MPH Table containing generated data for 5 drones</p>
</div>

<div style="display: flex; justify-content: space-between; gap: 20px">
  <app-planes-tab-kph></app-planes-tab-kph>
  <app-planes-tab-mph></app-planes-tab-mph>
</div>

<div style="display: flex; justify-content: space-between; gap: 20px">
  <p class="desc">Alternative table containing generated data for 5 drones</p>
</div>

<div style="display: flex; justify-content: space-between; gap: 20px">
  <app-alternative-planes-tab></app-alternative-planes-tab>
</div>


