<div class="container">
  <h1 class="title">Planes Tracker</h1>
  <p class="info">Recruitment task by Piotr Kaczmarek.</p>

  <div class="main-content">
    <div class="left-container">
      <app-planes-map [planes]="planes"></app-planes-map>
    </div>
    <div class="right-container">
      <div class="table-section">
        <p class="desc">Metric system table containing generated data for 5 planes</p>
        <app-planes-tab-kph></app-planes-tab-kph>
      </div>
      
      <div class="table-section">
        <p class="desc">Imperial system table containing generated data for 5 planes</p>
        <app-planes-tab-mph></app-planes-tab-mph>
      </div>
      
      <div class="table-section">
        <p class="desc">Alternative table containing generated data for 5 planes</p>
        <app-alternative-planes-tab></app-alternative-planes-tab>
      </div>
    </div>
  </div>
</div>


